---
interface Props {
  inheritedClasses: string;
  orientation: "left" | "right";
  text: string;
}

const { inheritedClasses, orientation, text } = Astro.props;

const TextStyles = {
  shared: `text-xs max-w-[65%] p-3 rounded-2xl font-medium shadow-sm `,
  left: "bg-pale-magenta rounded-bl-md text-moderate-violet animate-fade-right",
  right:
    "bg-white text-desaturated-violet ml-auto rounded-br-md animate-fade-left",
};
---

<p
  class=`${inheritedClasses} ${TextStyles['shared']} ${TextStyles[orientation]}`
>
  {text}
</p>
