---
import { Icon } from "astro-icon";
---

<div
  class="shadow-sm p-2 bg-white flex items-center justify-between rounded-3xl"
>
  <span class="text-xs text-grayish-blue font-medium ml-2"
    >Type a message...</span
  >
  <div class="bg-very-dark-desaturated-violet rounded-full p-1 aspect-square">
    <Icon pack="fe" name="arrow-right" color="#fff" size={24} />
  </div>
</div>
