---
import Phone from "../components/Phone/Phone.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Frontend mentor challenge app." />
		<title>Frontend Mentor | Dog Walkers Booking</title>
	</head>
	<body>
		<main class="min-h-screen bg-[#f5f3f7] flex items-center">
			<div class="w-full max-w-screen-lg mx-auto border p-4">
				<Phone />
			</div>
		</main>
	</body>
</html>
