---
---

<div class="flex flex-col gap-6 animate-fade-left text-center md:text-left">
  <h1 class="text-4xl font-bold text-very-dark-desaturated-violet">
    Simple booking
  </h1>
  <p class="text-dark-grayish-violet text-lg leading-7">
    Stay in touch with our dog walkers through the chat interface. This makes it
    easy to discuss arrangements and make bookings. Once the walk has been
    completed you can rate your walker and book again all through the chat.
  </p>
</div>
